aside {
  width:19%;
  margin-left:auto;
  margin-right:auto;
  float:left;
  margin-right:1%;
  margin-top:1%;

}
main {
  width:79%;
  margin-left:auto;
  margin-right:auto;
  float:left;
}

.desk {
  width:100%;
}

.desk iframe {
  width:100%;
  border:1px solid #aabbaa;
  height: 100%;
}

.wall {
  width:100%;
  height:100%;
}

.wall iframe {
  width:30%;
  height:30%;
  border:1px solid #aabbaa;
}


.table {
  width:320px;
  height:1200px;
  border:1px solid black;
  float:center;
  margin-left: auto;
  margin-right: auto;
}

.plate_background {
  background: url('../images/plate.jpg');
  background-size: 300px 300px;
  width: 300px;
  height: 300px;
  margin-left: auto;
  margin-right: auto;

}

.plate_background .pizza {
  background: url('../images/pizza.jpg');
  background-size: 150px 150px;
  background-repeat: no-repeat;
  background-position: center;
  width:100%;
  height:100%;
  opacity: 0;
  transition: opacity 1s;
 
}

.plate_background .pizza:hover {
  opacity: 1;
}
