<!DOCTYPE html>
<html>
	<head>
		<title>Web Dojo</title>
		<meta property="og:image" content="http://toskv.github.io/web-dojo/images/fb.png">
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap.css">
		<link rel="stylesheet" type="text/css" href="css/style.css">

		<script type="text/javascript" src="vendor/angular/angular.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/ui-bootstrap-tpls.js"></script>

		<script type="text/javascript" src="js/app.js"></script>
		<script type="text/javascript" src="js/directives.js"></script>

		<script>(function(d, s, id) {
  					var js, fjs = d.getElementsByTagName(s)[0];
  					if (d.getElementById(id)) return;
  					js = d.createElement(s); js.id = id;
  					js.src = "//connect.facebook.net/en_US/sdk.js#xfbml=1&version=v2.0";
  					fjs.parentNode.insertBefore(js, fjs);
				}(document, 'script', 'facebook-jssdk'));</script>
	</head>
	<body ng-app="htmldojo" ng-controller="Dojo">
		<div id="fb-root"></div>
		<header>
				<div class="header-title">Web Dojo</div><br/>
				<div class="header-subtitle" ng-controller="Motto">{{motto}}</div>
				<div class="share-links">
					<div class="fb-like" data-href="http://toskv.github.io/web-dojo/" data-width="100" data-layout="button_count" data-action="like" data-show-faces="false" data-share="true"></div>
				</div>
		</header>
		<div class="github-links">
			<div class="view-on-github"><a class="btn btn-small" href="https://github.com/Toskv/web-dojo">View on GitHub</a></div>
			<div class="download-links">
				<a class="btn btn-small" href="https://github.com/Toskv/web-dojo/archive/master.zip">Download  <span class="glyphicon glyphicon-circle-arrow-down"></span></a>
			</div>
		</div>
		<div class="main-content">
			<section class="about">
				<div class="title">
					About
				</div>
				<div class="description">
					<p>I started this project while mentoring the HTML group at <a href="http://coderdojo.ro/locatii/timisoara">Coder Dojo Timisoara</a>. It's meant to provide kids a fun and engaging way of practicing their development skills after they finish the courses available on <a href="http://www.codecademy.com/learn">Codecademy</a>.
					The idea behind it is to provide an engaging story/adventure game to kids through which they can advance by coding their way out of situations.</p>
					
					<p>In order to keep focus on learning I tried to keep the setup to a minimum. For the WebSamurai story no setup is required at all, in order to complete a text editor and a browser is sufficient.</p>

					<p>If this sounds cool to you and you'd like to help out please contact me or just fork/branch the project on GitHub. You can also help as a non-developer by reviewing the text, sharing new story ideas or help improve this website.</p>

				</div>
			</section>
			
			<section class="stories" ng-repeat="story in stories">
				<div class="title">
					{{story.title}}
				</div>
				<div class="description">
					<p ng-repeat="p in story.description.ps">
						{{p}}
					</p>
				</div>
				<div class="hall-of-fame">
					<div class="subtitle">Hall of fame</div>
					<div class="the-1st">
						<div class="avatar-image">
							<img ng-src="{{story.hallOfFame.the1st.avatar}}"/>
						</div>
						<div class="info">
							<div class="name">{{story.hallOfFame.the1st.name}}</div>
							<div class="achievement">The first to test the story.</div>
						</div>
					</div>
					<div>
						<div ng-repeat="person in story.hallOfFame.mentions">
							{{person}}
						</div>
					</div>
				</div>
				<div class="story-info">
					<div class="prerequisites">Prerequisites: <span>{{story.prerequisites}}</span>
					</div>
					<div class="dificulty {{story.dificulty}}" >
						Dificulty: <span>{{story.dificulty}}</span>
					</div>
					<div class="links">
						<a href="{{story.gitHubFolder}}">View on GitHub</a>
					</div>
				</div>
			</section>
			<div class="owner">
				<span>Created by: </span><a href="http://ro.linkedin.com/in/ilieciotir/">Ilie Ciotir (Toskv)</a> 
				<a href="https://github.com/Toskv"><img src="images/avatars/github-512.png" width="30px" height="30px"/></a>
				<a href="http://ro.linkedin.com/in/ilieciotir/"><img src="images/avatars/linkedin.png" width="30px" height="30px"/></a>
				<a href="https://www.facebook.com/ilie.ciotir"><img src="images/avatars/facebook.svg" width="24px" height="24px"/></a>
				
			</div>
		</div>
		<footer></footer>
	</body>
</html>
